<% layout("/layouts/boilerplate.ejs") %>

<body>
  <div class="row"></div>
    <div class="show-container col-8">
      <h1>Journal Entries</h1>
      <div class="card-container ">
        <% for(let journal of allJournals) {%>
        <div class="show-card overflow-y-auto">
          <h2><%= journal.title %></h2>
          <p><%= journal.message %></p>
          <div class="buttons">
            <a class="btn btn-outline-light" href="/myJournals/<%= journal._id %>/edit">Edit</a>
            <form method="post" action="/myJournals/<%= journal._id %>?_method=DELETE">
              <button class="btn btn-outline-light">Delete</button>
            </form>
          </div>
        </div>
       <% } %>
      </div>
    </div>
    </body>