.front-page{
    min-height: 150vh;
}

.sec-1 h1{
    font-size: xx-large;
    font-weight: 600;
    margin-top: 3rem;
}

.sec-1 h1 span{
    color: rgb(61, 122, 139);
}

.sec-1 .options {
    margin: 2rem 2rem;
    display: flex;
    justify-content: center; 
}

.sec-1 .options ul {
    list-style: none;
}

.review{
    
    text-align: center;
    margin: 2rem 0;
}
.review  .profile-pic {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    border-radius: 50%;
    margin-right: 0.5rem;
  }

/* chat ai styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.chat-container {
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #060606;
   
}

.chat-header {
    background-color: #2e2e2f;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.chat-messages {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    color: white;
}

.message {
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.user-message {
    background-color: #011e2a;
    float: right;
}

.chatbot-message {
    background-color: #3d3d3d;
    float: left;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #080b0e;
}

.chat-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    background-color: black;
    color: white;
}

.chat-input button {
    padding: 8px 15px;
    border: none;
    background-color: #3d3d3d;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #323232;
}
