*{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    
}

:root {
    --lighter_blue:#e5eff5;
    --light_blue:#c3d9e3;
    --blue_overlay:#b5ced7;
    --dark_blue: #0e7182;
    --dark_grey:#293535;
    --white:#fff;
    --blact: black;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* overflow: hidden; */
}

.main-container{
    margin: 0;
    background-color: var(--light_blue);
    flex: 1;
}

/* Navbar Style  */

.navbar{
    background-color: var(--lighter_blue);
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding: 4px !important;
    
}

.navbar .navbar-brand {
    font-size:x-large;
    padding: 0;
    color: var(--dark_blue);
    /* margin: 0; */
}

.navbar .navbar-brand:hover{
    color: var(--dark_blue);
    transform: scale(1);
}

.navbar-nav .nav-link {
    color: var(--dark_blue);
      
}
.navbar-nav .nav-link:hover {
    
    color: var(--dark_blue);
    
}

.navbar .login-btn{
    background-color: var(--dark_blue);
    color: var(--lighter_blue);
    justify-self: center;
    width: 100px;
    opacity: 0.9;
}

.navbar .login-btn:hover{
    background-color: var(--dark_blue);
    color: var(--white);
    opacity: 1 ;
}

.navbar .signup-btn{
    background-color: var(--dark_blue);
    color: var(--lighter_blue);
    justify-content: center;
    width: 100px;
    margin-right: 1rem;
    opacity: 0.9;
}

.navbar .signup-btn:hover{
    background-color: var(--dark_blue);
    color: var(--white);
    opacity: 1 ;
}  

/* footer Style */
footer{
    background-color: var(--dark_grey);
    bottom: 0;
    padding: 1rem 4rem;

}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--white);
}

.f-info{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.f-item{
    margin-right: 2rem;
    color: rgb(255, 255, 255);
    opacity: 0.7;
}

.f-item li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.f-info ul{
    list-style:circle;
}

.f-description p{
    opacity: 0.7;
}

/* Home box Style */

.home-container{    
    margin: 2rem 7rem;
    color: var(--light_blue);
    min-height: 100vh;
}

.card{
    border: none !important ;
    border-radius: 15px !important;
    margin-bottom: 1rem;
}

.card-body{
    background-color:var(--blue_overlay);   
    height: 180px;
    border-radius: 15px;
}

.card .card-btn{
    background-color: var(--dark_blue);
    color: var(--light_blue);
    border-radius: 25px;
    opacity: 0.9;
}

.card .card-btn:hover{
    background-color: var(--dark_blue);
    color: var(--light_blue);
    opacity: 1;
}

/*  Journaling page  */

.main-box{
    display: flex;
    height: 100vh;
    color: var(--dark_blue);
    justify-content: center;
}

.side-box{
    width: 200px;
 
}

.journal-box{
     flex: 1;
     /* border: 0.5px solid var(--dark_blue); */
     justify-self: center;
}

.journal-box .inside-box{
    margin: 1rem 5rem;
    width: 80%;
    border-radius: 15px;
    background-color: var(--blue_overlay);
    padding: 2rem;
    height:auto;
    justify-content: center;
    align-self: center;
}



.inside-box .header{
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(32, 32, 32) ;
}
.journal-box .buttons{
    display: flex;
    justify-content: space-between;
}

.journal-box .journal-btn{
    background-color: var(--dark_blue);
    color: var(--light_blue);
    border-radius: 25px;
    opacity: 0.9;
}
.journal-box .journal-btn:hover{
    background-color: var(--dark_blue);
    color: var(--light_blue);
    opacity: 1;
}

/* Side Box  
.side-box{
    background-color: var(--lighter_blue);
    border: 0.5px solid var(--dark_blue);
}

.side-box .side-card{
    padding: 1rem 0;
    font-size: small;

}

.side-card p{
    text-align: center;
    opacity: 0.6;
}

.side-card a{
    text-decoration: none;
    color: var(--dark_blue);
    opacity: 0.8;
}
.side-card a:hover{
    color: var(--light_blue);
}

/* .side-card a:hover{
    width: 150px;
    height: 25px;
    color: rgba(141, 255, 47, 0.801);
} */
/* .side-card .journal-list{
    padding-left: 1rem;
    border: 0.5px solid var(--dark_blue);
}
.side-card .journal-list:hover{
    width: auto;
    margin: auto 0;
    height:fit-content;

    background-color: var(--dark_blue);
    cursor: pointer;
}  */


/* addnew */
.newJournal{
    min-height: 100vh;
}


.chat-container {
    max-width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: -20px auto 0;
    padding: 20px;
    background-color:var(--blue_overlay);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.chat-heading {
    text-align: center;
    padding: 10px 0;
    background-color: var(--dark_blue);
    border-radius: 8px 8px 0 0;
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0 auto;
    /* max-width: 80%; */
}

.message {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 8px;
    clear: both;
}
.message.sender {
    align-self: flex-end;
    float: right;
    background-color: var(--lighter_blue);
    color: #fff;
}
.message.receiver {
    align-self: flex-start;
    float: left;
    background-color: var(--dark_blue);
    color: #333;
}
.message-input {
    width: calc(100% - 16px);
    margin: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.message-input:focus {
    outline: none;
    border-color: var(--dark_blue);
}
.btn-send {
    padding: 8px 16px;
    border: none;
    background-color: var(--dark_grey);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 4px;
}
.btn-send:hover {
    background-color: var(--blact);
}

/* new Form */
.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--blue_overlay);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--dark_blue);
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container label {
    margin-bottom: 5px;
  }
  
  .form-container input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--light_blue);
    color: var(--dark_blue);
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form-container textarea {
    resize: vertical; /* Allow vertical resizing of textarea */
  }

  .form-btn{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
  }
  
 
  /* show page */
  .show-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--light_blue);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
 .show-container h1 {
    text-align: center;
    color: var(--dark_blue);
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .show-card {
    height: 200px;
    text-align: center;
    color: var(--dark_blue);
    padding: 20px;
    background-color:var(--blue_overlay);
    border-radius: 15px;
  }
  
  .buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: end;
  }

  /* Scroll bar css */
  .show-card {
  
    scrollbar-width:thin; 
    scrollbar-color: var(--dark_blue) var(--blue_overlay);   

  }
  
  


  