<%  layout("layouts/boilerplate") %>

<body class="row overflow-hidden">
  <h1 class="text-center ">SignUp Form</h1>
  <div>
   
    <form class="col-4 offset-4 mt-3" method="post" action="/signup">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputUserName1" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" id="exampleInputUserName1" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary mb-3">SignUp</button>
      </form>
    </div>
</body>