<%  layout("/layouts/boilerplate") %>

<body>
    <div class="main-box">
        <div class="side-box">
            <div class="side-card">
                <p>date</p>
                <div class="journal-list">
                <a href="#"><span>Untitled</span> <br>
                <span>date</span> </a>
                </div>
            </div>
            <div class="side-card">
                <p>date</p>
                <div class="journal-list">
                <a href="#"><span>Untitled</span><br>
                <span>date</span> </a>
                </div>
            </div>
            <div class="side-card">
                <p>date</p>
                <div class="journal-list"> 
                <a href="#">
                    <span>Untitled</span><br>
                <span>date</span> </a>
            </div>
            </div>
        </div>
        <div class="journal-box ">
            <div class="inside-box">
                <div class="header">
                    <h5>Title</h5>  
                    <p>date</p> 
                </div>
                <div class="description-box">
                    <h5>Reflection Guide</h5>
                    <p>Yur go-to for deep talks and self-discovery. Think of a journaling buddy who's all about understanding your inner world.</p>

                    <a class="btn btn-success journal-btn" href=""><i class="fa-solid fa-feather"></i> Continue Writing</a>
                </div>
            </div>

        </div>
        

</div>
</body>