<%  layout("/layouts/boilerplate") %>

<body >
    <div class="main-box row">
        <!-- <div class="side-box">
            <div class="side-card">
                <p>date</p>
                <div class="journal-list">
                <a href="#"><span>Untitled</span> <br>
                <span>date</span> </a>
                </div>
            </div>
            <div class="side-card">
                <p>date</p>
                <div class="journal-list">
                <a href="#"><span>Untitled</span><br>
                <span>date</span> </a>
                </div>
            </div>
            <div class="side-card">
                <p>date</p>
                <div class="journal-list"> 
                <a href="#">
                    <span>Untitled</span><br>
                <span>date</span> </a>
            </div>
            </div>
        </div> -->
        <div class="journal-box col-8 ">
            <div class="inside-box">
                <div class="header">
                    <h5><%= journal.title %></h5>  
                </div>
                <div class="description-box">
                    <h5>Reflection Guide</h5>
                    <p><%= journal.message %></p>
                    <div class="buttons">

                        <a class="btn journal-btn"  href="/myJournals/<%= journal._id %>/edit"><i class="fa-solid fa-feather"></i> Continue Writing</a>
                        <a class=" btn journal-btn" href="/journal/new">Add New+</a>
                    </div>
                </div>
            </div>
          
               
                
        </div>
        
</div>
</body>